.gradle
.idea
build
captures
local.properties
app/src/main/assets/data/color-*
app/src/main/assets/data/mono-*
app/src/main/assets/a/?
math/src/main/java/com/gputreats/orbitalexplorer/MaximumRadiusTable.java
*.iml
app/*.apk
