<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transvect.orbitalexplorer" >

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/MainTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/appName"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/AuxTheme" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:theme="@style/AuxTheme" >
        </activity>
    </application>

</manifest>
